:root {
    --pimary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --bg-color: #2F303A;
    --bg-btn: #F5F4FA;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.title {
    color: var(--pimary-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

/*header*/
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.logo-black {
    color: var(--black)
}

.site-nav-list .link {
    color: var(--pimary-color);
}

.site-nav-list .active-page {

    color: var(--accent-color);
}

.site-nav-list a:hover,
.site-nav-list a:focus {
    color: var(--accent-color);
}

.contact-list {
    color: var(--secondary-color);
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/*hero*/
.hero,
.footer {
    background-color: var(--bg-color)
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.hero .btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*benefits*/
.benefits {}

.hidden-title {
    display: none;
}

.benefits .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--pimary-color);
}

/*work*/
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pimary-color);
}

/*team*/
.team {}

.team-title,
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-title {
    font-weight: 500;
}

/*footer*/
.footer {}

.logo-white {
    color: var(--white);
}

.adress {
    color: rgba(255, 255, 255, 0.6);
    font-style: inherit;
}

.street {
    font-style: normal;
    color: var(--white);
}

.street:hover,
.street:focus {
    color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

/*ПОРТФОЛИО*/
.filter-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pimary-color);
    background: var(--bg-btn);
    border: none;
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white);
    background: var(--accent-color);
}

.portfolio-list {}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--pimary-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
}